*{
    background-color: var(--fondo);
}

:root {
    --blanco: #ffffff;
    --negro: #000000;
    --fondo: #F6F1F1;
    --primario: #146C94;
    --secundario: #19A7CE;
    --degradado: #75d8ff41;
}



.logoo { 
    font-size: 25px;
    text-transform: uppercase;
    color: var(--fondo);
    font-weight: 700;
    background-color: #F6F1F1;
} 


.header .navegation { 
    margin-left: 3.4rem;
    margin-top: 4.2rem;
    background-color: var(--fondo);
    box-shadow: none;
    height: 11.5rem;
    
} 

.header .navegation ul li a{ 
    font-size: 2.2rem;   
    
} 



.header .navegation .logo { 
    width: 15rem;
    height: 15rem;
    margin-left: 11rem;
    margin-top: -7rem;
 
    
}


@media(max-width:950px) { 
    .logoo { 
        font-size: 25px;
        text-transform: uppercase;
        color: var(--secundario);
        font-weight: 700;
    } 
    
    }  

.borde h1{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--primario);
    font-size: 8rem;
    line-height: 2.0;
    text-align: center;
    font-weight: 700;
    margin-top: -2rem;
} 