*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --blanco: #ffffff;
    --negro: #000000;
    --fondo: #F6F1F1;
    --primario: #146C94;
    --secundario: #19A7CE;
}

html {
    font-size: 62.5%; 
}

body { 
    background-color: #F6F1F1;
    min-height: 100vh;
    box-sizing: border-box;
    
}

.header { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--fondo);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
} 

.logoo { 
    font-size: 25px;
    text-transform: uppercase;
    color: var(--secundario);
    font-weight: 700;
    
} 


.navegation ul { 
    list-style: none;
    
} 

.header .navegation ul li{ 
    float: left;
    position: relative;
    
} 

.header .navegation ul li a{ 
    font-size: 18px;
    color: var(--negro);
    text-decoration: none;
    padding: 20px;
    display: flex;
    transition: all .2s ease;
    
} 

.header .navegation ul li a:hover{ 
    background-color: rgba(117, 216, 255, 0.255);
    
} 


.header .navegation ul li ul{ 
    position: absolute;
    right: 0;
    width: 300px;
    background-color: var(--fondo);
    display: none;
    
} 

.header .navegation ul li ul li a{ 
    font-size: 15px;
    text-transform: capitalize;
    
} 

.header .navegation ul li ul li ul{ 
    position: absolute;
    top: 0;
    right: 300px;
    
} 

.header .navegation ul li ul li { 
    width: 100%;
    
} 

.header .navegation ul li:hover > ul { 
    display: initial;
    
} 


#toggle,
.header label { 
    display: none;
    cursor: pointer;
    
} 


.menu { 
    width: 45px;
    height: 35px; 
    
} 

@media(max-width:950px) { 
    .header label { 
        display: initial; 
    }    
    
    .header { 
        padding: 20px 10%; 
    } 

    .header .navegation { 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--fondo);
        display: none; 
    } 

    .header .navegation ul li{ 
        width: 100%; 
    }
    
    .header .navegation ul li a{ 
         padding: 8px 30px 8px 10%;
    }

    .header .navegation ul li ul{ 
       position: relative;
       width: 100%;
       left: 0;
   }

   .header .navegation ul li ul li{ 
        background-color: rgba(117, 216, 255, 0.255);
    }

    .header .navegation ul li ul li ul{ 
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked ~ .navegation{ 
        display: block; 
    }
} 